label {
    color: black
}

body, .btn{
    background-color: #252839 ;
}

h3{
    color: #dd2c00   
}

h6 {
    padding-top: 20px;
    color: black
}

#choose-section, h4{
    color: #dd2c00
}

.waves-effect.waves-teal .waves-ripple{
    background-color: #666874
}

.btn:hover {
    background-color: #3a3d4c
}

th {
    color: #252839;
}


